<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!--自定义配置节点-->
    <section name="thirdPartyPlatform" type="YSL.Framework.Config.Models.ThirdPartyPlatformSection,YSL.Framework" />
    <!--Redis-->
    <section name="RedisConfig" type="YSL.Framework.Cache.Redis.RedisConfigInfoSection,YSL.Framework" />
    <!--ActiveMQ 自定义配置节点-->
    <sectionGroup name="ActiveMQ">
    <section name="MQConfig" type="YSL.Framework.Config.Models.ActiveMQConfigSection,YSL.Framework" allowDefinition="Everywhere" allowLocation="true"/>
    </sectionGroup>
    <!--Loc-->
    <section name="unity"   type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection,Microsoft.Practices.Unity.Configuration"/>
    <!--QQ登陆设置-->
    <sectionGroup name="QQSectionGroup">
      <section name="QzoneSection" type="System.Configuration.NameValueSectionHandler,System, Version=4.0.0.0, Culture=neutral,PublicKeyToken=b77a5c561934e089" />
    </sectionGroup>
  </configSections>
  <!--第三方平台配置-->
  <thirdPartyPlatform configSource="Config\thirdPartyPlatform.xml"></thirdPartyPlatform>
  <unity configSource="Config\unity.xml"></unity>
  
  <!--QQ登陆设置-->
  <QQSectionGroup>
    <QzoneSection>
      <add key="AppKey" value="" />
      <add key="AppSecret" value="" />
      <add key="CallBackURI" value="" />
      <add key="AuthorizeURL" value="https://graph.qq.com/oauth2.0/authorize" />
    </QzoneSection>
  </QQSectionGroup>
  <!--WriteServerList、ReadServerList多个服务器用逗号分隔-->
  <RedisConfig WriteServerList="127.0.0.1:6379" ReadServerList="127.0.0.1:6379" MaxWritePoolSize="10" MaxReadPoolSize="10" AutoStart="true" LocalCacheTime="180" Password="">
	</RedisConfig>
  
  <ActiveMQ>
    <MQConfig Host="192.168.16.34" Port="61616" UserName="admin" Password="admin" Debug="true"></MQConfig>
  </ActiveMQ>

  <appSettings>
    <!--webapi监听服务IP和端口-->
    <add key="WebApiHost" value="http://localhost:8800" />
    <!--web主站的url地址-->
    <add key="WebServerUrl" value="http://localhost:8801" />
    <!--调用接口的基地址-->
    <add key="BaseAddress" value="http://localhost:8800/api/" />
    <!--加载的API的dll集合 多个使用分号";"隔开-->
    <add key="ApiAssemblies" value="YSL.Api.dll" />
  </appSettings>
  <connectionStrings>
    <add name="NHOMEKF" connectionString="Data Source=.;Initial Catalog=Test;Persist Security Info=True;User ID=sa;Password=123456" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Http" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Net.Http.Formatting" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="v11.0" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
</configuration>